<div id="fullpage">
  <div class="section">
    <div id="greeting-section" class="greeting-section" fxLayout="column" fxLayoutAlign="center center">
      <div class="greeting" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <h1 class="dosis">Hi, I'm Brenden.</h1>
        <h2 class="intro-subheader">I'm a front end developer in Seattle.</h2>
        <h3 class="intro-subheader">I build cool things that help people get things done.</h3>
      </div>
    </div>
  </div>
  <div [ngClass.gt-sm]="'section fp-auto-height'"
       [ngClass.lt-sm]="'section'">
    <div id="skill-section" class="skill-section" fxLayout="column" fxLayoutAlign="center center">
      <div class="skills" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="start center" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayoutGap.lt-md="30px">
          <img src="/assets/img/logos/html5.png"
               alt="html5 logo" class="skill">
          <img src="/assets/img/logos/sass.png"
               alt="sass logo" class="skill">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.lt-md="30px">
          <img src="/assets/img/logos/nodejs.png"
               alt="nodejs logo" class="skill">
          <img src="/assets/img/logos/express.png"
               alt="express logo" class="skill">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.lt-md="30px">
          <img src="/assets/img/logos/typescript.png"
               alt="typescript logo" class="skill">
          <img src="/assets/img/logos/angular.png"
               alt="angular logo" class="skill">
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.lt-md="30px">
          <img src="/assets/img/logos/jquery.png"
               alt="jquery logo" class="skill">
          <img src="/assets/img/logos/google.png"
               alt="google cloud logo" class="skill">
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div id="projects-section" class="projects-section">
      <div class="projects">
        <div id="pomodoro" class="project slide">
          <a href="https://s.codepen.io/bniedermeyer/debug/xwqBOM/NQAzYnWyPdmr">
            <img src="/assets/img/pomodoro.png" alt="pomodoro project"></a>
        </div>
        <div id="seattle-counselors" class="project slide">
          <a href="https://www.seattlecounselors.org">
            <img src="/assets/img/sca.png" alt="seattle counselors association project"></a>
        </div>
        <div id="calculator" class="project slide">
          <a href="https://s.codepen.io/bniedermeyer/debug/RrwmzL/yoAZEQxVaZmr">
            <img src="/assets/img/calculator.png" alt="calculator project"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="connect-section section fp-auto-height">
    <h1 class="dosis">Let's Connect!</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <a href="https://www.linkedin.com/in/bniedermeyer"><i class="fa fa-lg fa-linkedin-square social-links"
                                                            aria-hidden="true"></i></a>
      <a href="https://www.github.com/bniedermeyer"><i class="fa fa-lg fa-github social-links" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
