<div id="greeting-section" class="greeting-section">
  <div class="greeting">
    <img src="/assets/img/profile.jpg" alt="A picture of Brenden">
    <div id="greeting-text" class="greeting-text">
      <h1>My name is Brenden</h1>
      <p>I'm a frontend developer in Seattle. I have experience with Angular, ES6, Node.js, Chatbots, MongoDB, MySQL,
        Google
        Cloud, and more. I
        enjoy building things that solve interesting problems for people as well as training and mentoring other
        developers. You can learn more about my professional
        experience <a
          routerLink="/resume" id="resume-link">here.</a></p>
    </div>
  </div>
</div>
<div id="projects-section" class="projects-sections">
  <div id="projects-container" class="projects-container">
    <h1>Here are a few things I've created</h1>
    <div class="projects">
      <div id="pomodoro" class="project">
        <a href="https://s.codepen.io/bniedermeyer/debug/xwqBOM/NQAzYnWyPdmr"><img src="/assets/img/pomodoro"
                                                                                   alt="pomodoro project">
          Pomodoro Timer</a>
      </div>
      <div id="seattle-counselors" class="project">
        <a href="https://www.seattlecounselors.org"><img src="/assets/img/sca.png"
                                                         alt="seattle counselors association project">Seattle Counselors
          Association</a>
      </div>
      <div id="calculator" class="project">
        <a href="https://s.codepen.io/bniedermeyer/debug/RrwmzL/yoAZEQxVaZmr"><img src="/assets/img/calculator"
                                                                                   alt="calculator project">County
          McCounterson</a>
      </div>
    </div>
  </div>
</div>
<div id="connect-section" class="connect-section">
  <div class="connect"><h1>Let's Connect!</h1>
    <div class="social-links">
      <a href="">
        <mat-icon></mat-icon>
      </a>
      <a href="">
        <mat-icon></mat-icon>
      </a>
      1<a href="">
        <mat-icon></mat-icon>
      </a></div>
  </div>
</div>
