<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" class="social-links">
  <a href="https://www.linkedin.com/in/bniedermeyer" fxFlexAlign="center"><i [ngClass]="['fa', iconSize, 'fa-linkedin-square', 'social-link']"
                                                        aria-hidden="true"></i></a>
  <a href="https://www.github.com/bniedermeyer" fxFlexAlign="center"><i [ngClass]="['fa', iconSize , 'fa-github', 'social-link']"
                                                   aria-hidden="true"></i></a>
</div>
