a {
  text-decoration: none;
}
.blog-dashboard {
  padding: 10px;
}
.old-posts {
  position: sticky;
  top: 0;
}
.post-card {
  width: 150px;
  height: 150px;
  overflow: hidden;
  img {
    object-fit: cover;
    height: 80px;
  }
}

.latest-post {
  .post-title {
    text-decoration: none;
  }
}
