/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import '~@angular/material/theming';
@import "~highlight.js/styles/default.css";
@import "~highlight.js/styles/monokai.css";
@import 'theme';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans');
// material theme
@include mat-core();
@include angular-material-theme($theme);

.hr-offset {
  margin-left: 40px;
}

html, body, app-root, mat-sidenav-container, router-outlet {
  margin: 0;
  width: 100%;
  height: 100vh;
}

mat-sidenav {
  background-color: mat-color($primary) !important;
}

html, body {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Dosis', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}
